body {
    background-color: black;
    display: flex;
}

.calc-div {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    border: 2px solid white;
    background: black;
    padding: 2%;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    right: 5%;
}

.calc-bkg {
    width: 250px;
    height: 500px;
    border-radius: 10px;
    background: white;
    position: relative;
    padding: 2%;
    left: 44%;
    opacity: 0.85;
}

.calc-display {
    font-size: 1.5em;
    color: white;
    background-color: black;
    position: relative;
    height: 25px;
    top: 10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 15px;
    padding-inline: 7%;
}

.button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.button:hover {
    background-color: #121212;
}

.number {
    font-size: 1.5em;
    padding: 10px;
}

.calc {
    font-size: 1.25em;
    padding: 5px;
}

.button-div {
    position: relative;
    top: 7%;
    left: 7%;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}