body {
    background-color: black;
}
.calc-div {
    margin: auto;
    border: 2px solid white;
    background: black;
    padding: 1%;
    border-radius: 10px;
    width: 250px;
    height: 500px;
}

.calc-display {
    background-color: white;
    position: relative;
    height: 25px;
    top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.button {
    background-color: black;
    color: white;
}

.number {
    font-size: 1.5em;
    padding: 10px;
}

.calc {
    font-size: 1.25em;
    padding: 5px;
}

.button-div {
    position: relative;
    top: 5%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}