body {
    background-color: black;
    display: flex;
}

.calc-div {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    border: 2px solid white;
    background: black;
    padding: 2%;
    border-radius: 10px;
    max-width: 15%;
    min-width: 250px;
    height: 500px;
    right: 5%;
}

.calc-bkg {
    max-width: 20%;
    min-width: 285px;
    height: 500px;
    border-radius: 10px;
    background: white;
    position: relative;
    padding: 2%;
    left: 44.5%;
    opacity: 0.85;
}

.display-div {
    flex-flow: column;
    height: 50px;
}

.calc-display {
    font-size: 1.5em;
    color: white;
    background-color: black;
    position: relative;
    height: 25px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    padding-bottom: 15px;
    padding-inline: 7%;
    z-index: 2;
}

.display-bkg {
    position: relative;
    background-color: white;
    height: 50px;
    border-radius: 8px;
    opacity: 0.85;
    bottom: 100%;
    right: 2.75%;
    z-index: 1;
}

.button {
    height: 12%;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.button:hover {
    background-color: #161616;
}

.number {
    font-size: 1.5em;
    padding: 10px;
}

#clear {
    position: relative;
    font-size: 1.25em;
    width: 100%;
}

.button-div {
    position: relative;
    height: 85%;
    top: 7%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 95%;
}

.num-buttons {
    display: flex;
    flex-flow: row wrap;
    width: 45%;
    min-width: 125px;
}

#seven {
    order: 1;
}

#eight {
    order: 2;
}

#nine {
    order: 3;
}

#four {
    order: 4;
}

#five {
    order: 5;
}

#six {
    order: 6;
}

#one {
    order: 7;
}

#two {
    order: 8;
}

#three {
    order: 9;
}

#zero {
    width: 60%;
    order: 10;
}

.calc-buttons {
    position: relative;
    left: 15%;
    display: flex;
    flex-flow: row wrap;
    min-width: 85px;
}

.calc {
    padding: 15%;
    font-size: 1.50em;
}



